# .NET
bin/
obj/
*.csproj.user
*.suo
.vs/

# Node
node_modules/
dist/
.env.local
.env.*.local

# Local databases
*.db
*.db-shm
*.db-wal

# Misc
.DS_Store
.vscode/
*.log

# .azure
.azure/telemetry/
.azure/az.json
.azure/az.sess
.azure/azureProfile.json
.azure/commandIndex.json
.azure/extensionHelpIndex.json
.azure/extensionIndex.json
.azure/helpIndex.json   
.azure/versionCheck.json    

.dotnet-home/* 

